{"openapi":"3.1.0","info":{"title":"Compile Labs API Documentation","description":"Compile Labs API Docs.","version":"1.0"},"servers":[{"url":"https://api.compilelabs.dev","description":"Compile Labs API Server"}],"paths":{"/v1/user":{"get":{"tags":["user"],"summary":"Get User Info","description":"Gets information about the user","operationId":"Get_user_info_v1_user_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/models":{"get":{"tags":["models"],"summary":"Get Models","description":"List all models available to the user","operationId":"get_models_v1_models_get","parameters":[{"name":"type","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ResourceType","description":"The type of the model.","examples":["text_to_text","text_to_image"]},"description":"The type of the model."},{"name":"author","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ResourceAuthor"},{"type":"null"}],"description":"The author of the model.","examples":["meta","google","anthropic","qwen","moonshot","mistral","black_forest_labs"],"title":"Author"},"description":"The author of the model."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListModelsResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/models/{model_id}":{"get":{"tags":["models"],"summary":"Get Model","description":"Get a specific model","operationId":"get_model_v1_models__model_id__get","parameters":[{"name":"model_id","in":"path","required":true,"schema":{"type":"string","description":"The id of the model.","examples":["meta/llama-v3-8b-instruct"],"title":"Model Id"},"description":"The id of the model."},{"name":"type","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ResourceType","description":"The type of the model.","examples":["text_to_text","text_to_image"]},"description":"The type of the model."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/TextToTextModelResponseModel"},{"$ref":"#/components/schemas/TextToImageModelResponseModel"}],"title":"Response Get Model V1 Models  Model Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/chat/completions":{"post":{"tags":["llm"],"summary":"Openai Compatible Chat Completions Api","description":"Create a chat completion using OpenAI compatible SDKs or tools.","operationId":"OpenAI_compatible_Chat_Completions_API_v1_chat_completions_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionResponse"}},"text/event-stream":{"schema":{"type":"string"},"examples":{"chunk":{"summary":"OpenAI-compatible SSE chunk","value":"data: {\"object\":\"chat.completion.chunk\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"Hello\"}}]}\n\n"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/anthropic/v1/messages":{"post":{"tags":["llm"],"summary":"Anthropic Compatible Messages Api","description":"Create a message using Anthropic's compatible SDKs or tools. Supports both streaming and non-streaming requests.","operationId":"Anthropic_compatible_Messages_API_anthropic_v1_messages_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnthropicMessagesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnthropicMessagesResponse"}},"text/event-stream":{"schema":{"type":"string"},"examples":{"ping":{"summary":"Ping event","value":"event: ping\ndata: {\"type\": \"ping\"}\n\n"},"content_block_delta":{"summary":"Content delta event","value":"event: content_block_delta\ndata: {\"type\":\"content_block_delta\",\"index\":0,\"delta\":{\"type\":\"text_delta\",\"text\":\"Hello\"}}\n\n"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/images/generations":{"post":{"tags":["images"],"summary":"Create image","description":"Creates an image given a prompt.","operationId":"images_generations_v1_images_generations_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageGenerationRequest"}}}},"responses":{"200":{"description":"Returns the generated image(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImagesResponse"},"example":{"created":1589478378,"data":[{"url":"https://...","revised_prompt":"A cute baby sea otter"}]}}}},"400":{"description":"Bad request - invalid parameters"},"401":{"description":"Unauthorized - invalid API key"},"429":{"description":"Rate limit exceeded"},"500":{"description":"Internal server error"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/orgs/{org}/usage-balance":{"get":{"tags":["usage"],"summary":"Get Usage Balance For Org","description":"Gets the usage balance for an organization.","operationId":"Get_usage_balance_for_org_v1_orgs__org__usage_balance_get","parameters":[{"name":"org","in":"path","required":true,"schema":{"type":"string","description":"The ID of the organization.","examples":["org_01K3NVX6MDYGP2J4AP491M71PK"],"title":"Org"},"description":"The ID of the organization."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Your API key.","title":"X-Api-Key"},"description":"Your API key."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgUsageBalanceResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AnthropicContainer":{"properties":{"id":{"type":"string","title":"Id","description":"Container identifier"},"expires_at":{"type":"string","format":"date-time","title":"Expires At","description":"Container expiration time"}},"type":"object","required":["id","expires_at"],"title":"AnthropicContainer"},"AnthropicMessagesRequest":{"properties":{"model":{"type":"string","maxLength":255,"minLength":3,"title":"Model","description":"Model ID used to generate the response, like meta/llama-4-scout or moonshotai/kimi-k2-0905. CompileLabs offers a wide range of models with different capabilities, performance characteristics, and price points. Refer to the model guide to browse and compare available models.","examples":["meta/llama-4-scout","moonshotai/kimi-k2-0905"]},"messages":{"items":{"$ref":"#/components/schemas/InputMessage"},"type":"array","minItems":1,"title":"Messages","description":"A list of messages comprising the conversation so far."},"stream":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Stream","description":"If set to true, the model response data will be streamed to the client as it is generated using server-sent events. See the Streaming section below for more information, along with the streaming responses guide for more information on how to handle the streaming events.","default":false},"tool_choice":{"anyOf":[{"$ref":"#/components/schemas/ToolChoiceAuto"},{"$ref":"#/components/schemas/ToolChoiceAny"},{"$ref":"#/components/schemas/ToolChoiceTool"},{"$ref":"#/components/schemas/ToolChoiceNone"},{"type":"null"}],"title":"Tool Choice","description":"How the model should use the provided tools. The model can use a specific tool, any available tool, decide by itself, or not use tools at all. The model will automatically decide whether to use tools."},"tools":{"anyOf":[{"items":{"$ref":"#/components/schemas/Tool"},"type":"array"},{"type":"null"}],"title":"Tools","description":"Tool definitions","examples":[[{"description":"Get the current weather in a given location","input_schema":{"properties":{"location":{"description":"The city and state, e.g. San Francisco, CA","type":"string"},"unit":{"description":"Unit for the output - one of (celsius, fahrenheit)","type":"string"}},"required":["location"],"type":"object"},"name":"get_weather"}]]},"max_tokens":{"anyOf":[{"type":"integer","exclusiveMinimum":1.0},{"type":"null"}],"title":"Max Tokens","description":"The maximum number of tokens to generate in the completion.","examples":[1024]},"system":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"System","description":"System prompt"},"temperature":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"title":"Temperature","description":"Temperature for randomness"},"top_p":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"title":"Top P","description":"Top-p sampling"},"top_k":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Top K","description":"Top-k sampling"},"stop_sequences":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Stop Sequences","description":"Stop sequences"},"thinking":{"anyOf":[{"$ref":"#/components/schemas/ThinkingConfigEnabled"},{"$ref":"#/components/schemas/ThinkingConfigDisabled"},{"type":"null"}],"title":"Thinking","description":"Thinking configuration"},"service_tier":{"anyOf":[{"type":"string","enum":["auto","standard_only"]},{"type":"null"}],"title":"Service Tier","description":"Service tier"}},"type":"object","required":["model","messages"],"title":"AnthropicMessagesRequest"},"AnthropicMessagesResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique message identifier"},"type":{"type":"string","const":"message","title":"Type","default":"message"},"role":{"type":"string","const":"assistant","title":"Role","default":"assistant"},"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/ResponseTextBlock"},{"$ref":"#/components/schemas/ResponseThinkingBlock"},{"$ref":"#/components/schemas/ResponseRedactedThinkingBlock"},{"$ref":"#/components/schemas/ResponseToolUseBlock"},{"$ref":"#/components/schemas/ResponseServerToolUseBlock"},{"$ref":"#/components/schemas/ResponseWebSearchToolResultBlock"},{"$ref":"#/components/schemas/ResponseCodeExecutionToolResultBlock"},{"$ref":"#/components/schemas/ResponseMCPToolUseBlock"},{"$ref":"#/components/schemas/ResponseMCPToolResultBlock"},{"$ref":"#/components/schemas/ResponseContainerUploadBlock"}]},"type":"array","title":"Content","description":"Generated content"},"model":{"type":"string","maxLength":256,"minLength":1,"title":"Model","description":"Model used"},"stop_reason":{"anyOf":[{"type":"string","enum":["end_turn","max_tokens","stop_sequence","tool_use","pause_turn","refusal"]},{"type":"null"}],"title":"Stop Reason","description":"Stop reason"},"stop_sequence":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stop Sequence","description":"Stop sequence that was triggered"},"usage":{"$ref":"#/components/schemas/AnthropicUsage","description":"Usage statistics"},"container":{"anyOf":[{"$ref":"#/components/schemas/AnthropicContainer"},{"type":"null"}],"description":"Container information"}},"type":"object","required":["id","content","model","usage"],"title":"AnthropicMessagesResponse"},"AnthropicUsage":{"properties":{"input_tokens":{"type":"integer","minimum":0.0,"title":"Input Tokens","description":"Input tokens used"},"output_tokens":{"type":"integer","minimum":0.0,"title":"Output Tokens","description":"Output tokens used"},"cache_creation_input_tokens":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cache Creation Input Tokens","description":"Cache creation input tokens"},"cache_read_input_tokens":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cache Read Input Tokens","description":"Cache read input tokens"},"cache_creation":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Cache Creation","description":"Cache creation breakdown"},"server_tool_use":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Server Tool Use","description":"Server tool usage"},"service_tier":{"anyOf":[{"type":"string","enum":["standard","priority","batch"]},{"type":"null"}],"title":"Service Tier","description":"Service tier used"}},"type":"object","required":["input_tokens","output_tokens"],"title":"AnthropicUsage"},"ApiKeyUsageBalanceResponse":{"properties":{"api_key_hashed":{"type":"string","title":"Api Key Hashed","description":"API key ID"},"name":{"type":"string","title":"Name","description":"API key name"},"api_key_preview":{"type":"string","title":"Api Key Preview","description":"API key preview"},"credit_limit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Credit Limit","description":"Credit limit in dollars"},"credit_count":{"type":"number","title":"Credit Count","description":"Credit count in dollars"},"reset_period":{"anyOf":[{"$ref":"#/components/schemas/ResetPeriod"},{"type":"null"}],"description":"Reset period for quota"},"next_credit_reset_unix":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Next Credit Reset Unix","description":"Next credit reset unix"},"previous_credit_reset_unix":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Previous Credit Reset Unix","description":"Previous credit reset unix"}},"type":"object","required":["api_key_hashed","name","api_key_preview","credit_count"],"title":"ApiKeyUsageBalanceResponse","description":"Response model for get_api_key_usage_balance endpoint."},"ChatCompletionChoice":{"properties":{"index":{"type":"integer","title":"Index","description":"The index of the chat completion choice."},"message":{"$ref":"#/components/schemas/ChatCompletionResponseMessage","description":"The message generated by the model."},"finish_reason":{"type":"string","enum":["stop","length"],"title":"Finish Reason","description":"The reason the model stopped generating tokens."}},"type":"object","required":["index","message","finish_reason"],"title":"ChatCompletionChoice"},"ChatCompletionMessageToolCall":{"properties":{"id":{"type":"string","title":"Id","description":"The ID of the tool call."},"type":{"type":"string","const":"function","title":"Type","description":"The type of the tool. Currently, only `function` is supported.","default":"function"},"function":{"additionalProperties":{"type":"string"},"type":"object","title":"Function","description":"The function that the model called."}},"type":"object","required":["id","function"],"title":"ChatCompletionMessageToolCall"},"ChatCompletionRequest":{"properties":{"model":{"type":"string","maxLength":255,"minLength":3,"title":"Model","description":"Model ID used to generate the response, like meta/llama-4-scout or moonshotai/kimi-k2-0905. CompileLabs offers a wide range of models with different capabilities, performance characteristics, and price points. Refer to the model guide to browse and compare available models.","examples":["meta/llama-4-scout","moonshotai/kimi-k2-0905"]},"messages":{"items":{"$ref":"#/components/schemas/ChatCompletionRequestMessage"},"type":"array","minItems":1,"title":"Messages","description":"A list of messages comprising the conversation so far."},"stream":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Stream","description":"If set to true, the model response data will be streamed to the client as it is generated using server-sent events. See the Streaming section below for more information, along with the streaming responses guide for more information on how to handle the streaming events.","default":false},"tool_choice":{"anyOf":[{"type":"string","enum":["auto","none","required"]},{"$ref":"#/components/schemas/ToolChoiceFunction"},{"type":"null"}],"title":"Tool Choice","description":"Controls which (if any) tool is called by the model. none means the model will not call any tool and instead generates a message. auto means the model can pick between generating a message or calling one or more tools. required means the model must call one or more tools. Specifying a particular tool via `{'type': 'function', 'function': {'name': 'my_function'}}` forces the model to call that tool. none is the default when no tools are present. auto is the default if tools are present."},"tools":{"anyOf":[{"items":{"$ref":"#/components/schemas/FunctionTool"},"type":"array"},{"type":"null"}],"title":"Tools","description":"A list of tools the model may call. Currently, only functions are supported as a tool."},"max_tokens":{"anyOf":[{"type":"integer","exclusiveMinimum":1.0},{"type":"null"}],"title":"Max Tokens","description":"The maximum number of tokens to generate in the completion."},"temperature":{"anyOf":[{"type":"number","maximum":2.0,"minimum":0.0},{"type":"null"}],"title":"Temperature","description":"What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both.","default":1},"top_p":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"title":"Top P","description":"An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered. We generally recommend altering this or temperature but not both.","default":1},"response_format":{"anyOf":[{"$ref":"#/components/schemas/ResponseFormat"},{"type":"null"}],"description":"Allows to force the model to produce specific output format."}},"type":"object","required":["model","messages"],"title":"ChatCompletionRequest"},"ChatCompletionRequestMessage":{"properties":{"role":{"type":"string","enum":["user","assistant","system"],"title":"Role","description":"The role of the messages author. One of `system`, `user`, or `assistant`."},"content":{"type":"string","title":"Content","description":"The contents of the message. `content` is required for all messages, and may be null for assistant messages with function calls."},"name":{"anyOf":[{"type":"string","maxLength":64},{"type":"null"}],"title":"Name","description":"An optional name for the participant. Provides the model information to differentiate between participants of the same role. May contain a-z, A-Z, 0-9, and underscores, with a maximum length of 64 characters.","examples":["jane_doe","john_doe"]}},"type":"object","required":["role","content"],"title":"ChatCompletionRequestMessage"},"ChatCompletionResponse":{"properties":{"id":{"type":"string","title":"Id","description":"A unique identifier of the response."},"object":{"type":"string","const":"chat.completion","title":"Object","description":"The object type, which is always 'chat.completion'.","default":"chat.completion"},"created":{"type":"integer","title":"Created","description":"The Unix time in seconds when the response was generated."},"model":{"type":"string","title":"Model","description":"The model used for the chat completion."},"choices":{"items":{"$ref":"#/components/schemas/ChatCompletionChoice"},"type":"array","title":"Choices","description":"The list of chat completion choices."},"usage":{"$ref":"#/components/schemas/UsageInfo","description":"Usage statistics."}},"type":"object","required":["id","created","model","choices","usage"],"title":"ChatCompletionResponse"},"ChatCompletionResponseMessage":{"properties":{"role":{"$ref":"#/components/schemas/ChatMessageRole","description":"The role of the author of this message."},"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content","description":"The contents of the message."},"tool_calls":{"anyOf":[{"items":{"$ref":"#/components/schemas/ChatCompletionMessageToolCall"},"type":"array"},{"type":"null"}],"title":"Tool Calls","description":"The tool calls generated by the model, such as function calls."}},"type":"object","required":["role"],"title":"ChatCompletionResponseMessage"},"ChatMessageRole":{"type":"string","enum":["system","user","assistant"],"title":"ChatMessageRole"},"FunctionObject":{"properties":{"name":{"type":"string","maxLength":64,"title":"Name","description":"The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."},"description":{"anyOf":[{"type":"string","maxLength":1024},{"type":"null"}],"title":"Description","description":"A description of what the function does, used by the model to choose when and how to call the function."},"parameters":{"anyOf":[{"$ref":"#/components/schemas/FunctionParameters"},{"type":"null"}],"description":"The parameters the functions accepts, described as a JSON Schema object. See the guide for examples, and the JSON Schema reference for documentation about the format. Omitting parameters defines a function with an empty parameter list."}},"type":"object","required":["name"],"title":"FunctionObject"},"FunctionParameters":{"properties":{"type":{"type":"string","const":"object","title":"Type","default":"object"},"required":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Required","description":"which one of the parameter is required"},"properties":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Properties","description":"A map of property names to their types and descriptions. Each property is an object with 'type' and 'description' fields."}},"type":"object","title":"FunctionParameters"},"FunctionTool":{"properties":{"type":{"type":"string","const":"function","title":"Type","default":"function"},"function":{"$ref":"#/components/schemas/FunctionObject","description":"The function that the model may call."}},"type":"object","required":["function"],"title":"FunctionTool"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Image":{"properties":{"b64_json":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"B64 Json","description":"The base64-encoded JSON of the generated image. Default value for image generation models.","examples":["iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg=="]},"revised_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Revised Prompt","description":"The revised prompt that was used to generate the image. This may differ from the original prompt if the model made improvements.","examples":["A beautiful sunset over mountains with vibrant orange and pink colors"]},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"The URL of the generated image if `response_format` is set to `url` (default value). URLs are only valid for 60 minutes after generation.","examples":["https://oaidalleapiprodscus.blob.core.windows.net/private/org-123/user-456/img-789.png"]}},"type":"object","title":"Image","description":"Individual generated image with URL or base64 data and metadata."},"ImageGenerationRequest":{"properties":{"prompt":{"type":"string","maxLength":32000,"title":"Prompt","description":"A text description of the desired image(s)."},"model":{"type":"string","maxLength":255,"title":"Model","description":"The model to use for image generation."},"background":{"anyOf":[{"type":"string","enum":["transparent","opaque","auto"]},{"type":"null"}],"title":"Background","description":"Allows to set transparency for the background of the generated image(s). This parameter is only supported for gpt-image-1. Must be one of transparent, opaque or auto (default value).","default":"auto"},"n":{"anyOf":[{"type":"integer","maximum":10.0,"minimum":1.0},{"type":"null"}],"title":"N","description":"The number of images to generate. Must be between 1 and 10. For dall-e-3, only n=1 is supported.","default":1},"output_compression":{"anyOf":[{"type":"integer","maximum":100.0,"minimum":0.0},{"type":"null"}],"title":"Output Compression","description":"The compression level (0-100%) for the generated images. This parameter is only supported for gpt-image-1 with the webp or jpeg output formats, and defaults to 100.","default":100},"output_format":{"anyOf":[{"type":"string","enum":["png","jpeg","webp"]},{"type":"null"}],"title":"Output Format","description":"The format in which the generated images are returned. This parameter is only supported for gpt-image-1. Must be one of png, jpeg, or webp.","default":"png"},"quality":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quality","description":"The quality of the image that will be generated. auto (default value) will automatically select the best quality for the given model. high, medium and low are supported for gpt-image-1. hd and standard are supported for dall-e-3. standard is the only option for dall-e-2.","default":"auto"},"response_format":{"anyOf":[{"type":"string","enum":["url","b64_json"]},{"type":"null"}],"title":"Response Format","description":"The format in which generated images with dall-e-2 and dall-e-3 are returned. Must be one of url or b64_json. URLs are only valid for 60 minutes after the image has been generated.","default":"url"},"size":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Size","description":"The size of the generated images. Must be one of 1024x1024, 1536x1024 (landscape), 1024x1536 (portrait), or auto (default value) for gpt-image-1, one of 256x256, 512x512, or 1024x1024 for dall-e-2, and one of 1024x1024, 1792x1024, or 1024x1792 for dall-e-3.","default":"auto"},"style":{"anyOf":[{"type":"string","enum":["vivid","natural"]},{"type":"null"}],"title":"Style","description":"The style of the generated images. This parameter is only supported for dall-e-3. Must be one of vivid or natural.","default":"vivid"}},"type":"object","required":["prompt","model"],"title":"ImageGenerationRequest","description":"Request model for image generation endpoint."},"ImagesResponse":{"properties":{"created":{"type":"integer","title":"Created","description":"The Unix timestamp (in seconds) of when the image was created.","examples":[1677652288]},"background":{"anyOf":[{"type":"string","enum":["transparent","opaque"]},{"type":"null"}],"title":"Background","description":"The background parameter used for the image generation. Either `transparent` or `opaque`.","examples":["transparent"]},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/Image"},"type":"array"},{"type":"null"}],"title":"Data","description":"The list of generated images. Each image contains the URL or base64 data and metadata.","examples":[[{"b64_json":"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==","revised_prompt":"A beautiful sunset over mountains with vibrant colors"}]]},"output_format":{"anyOf":[{"type":"string","enum":["png","jpeg","webp"]},{"type":"null"}],"title":"Output Format","description":"The output format of the image generation. Either `png`, `webp`, or `jpeg`.","examples":["png"]},"quality":{"anyOf":[{"type":"string","enum":["low","medium","high"]},{"type":"null"}],"title":"Quality","description":"The quality of the image generated. Either `low`, `medium`, or `high`.","examples":["high"]},"size":{"anyOf":[{"type":"string","enum":["1024x1024","1024x1536","1536x1024","1024x768"]},{"type":"null"}],"title":"Size","description":"The size of the image generated. Either `1024x1024` (square), `1024x1536` (portrait), `1536x1024` (landscape), or `1024x768` (landscape). This parameter is only supported for gpt-image-1.","examples":["1024x1024"]},"usage":{"anyOf":[{"$ref":"#/components/schemas/Usage"},{"type":"null"}],"description":"The token usage information for the image generation including prompt tokens and completion tokens.","examples":[{"completion_tokens":20,"prompt_tokens":10,"total_tokens":30}]}},"type":"object","required":["created"],"title":"ImagesResponse","description":"Response model for image generation containing generated images and metadata."},"InputMessage":{"properties":{"role":{"type":"string","enum":["user","assistant"],"title":"Role","description":"Message role"},"content":{"type":"string","title":"Content","description":"Message content"}},"type":"object","required":["role","content"],"title":"InputMessage"},"InputSchema":{"properties":{"type":{"type":"string","const":"object","title":"Type","default":"object"},"properties":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Properties","description":"Schema properties"},"required":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Required","description":"Required properties"}},"type":"object","title":"InputSchema"},"ListModelsResponseModel":{"properties":{"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/TextToTextModelResponseModel"},{"$ref":"#/components/schemas/TextToImageModelResponseModel"}]},"type":"array","title":"Data","description":"A list of available models that can be used with the API.","examples":[[{"author":"meta","context_length":128000,"created":1677652288,"description":"Meta's latest large language model optimized for reasoning and code generation","id":"meta/llama-4-scout","name":"Llama 4 Scout","owned_by":"compilelabs","pricing":[{"metric":"input_tokens","rate":0.005},{"metric":"output_tokens","rate":0.015}],"slug":"llama-4-scout","status":"active","type":"text_to_text","visibility":"public"},{"author":"black-forest-labs","created":1677652288,"description":"Fast, high-quality text-to-image generation model","id":"black-forest-labs/flux-1-schnell","name":"Flux 1 Schnell","output_size":"1024x1024,1024x1536,1536x1024","owned_by":"compilelabs","pricing":[{"metric":"megapixels","rate":0.1}],"slug":"black-forest-labs-flux-1-schnell","status":"active","type":"text_to_image","visibility":"public"}]]}},"type":"object","required":["data"],"title":"ListModelsResponseModel","description":"Response containing a list of available models."},"OrgUsageBalanceResponse":{"properties":{"org_usage_balance":{"$ref":"#/components/schemas/UsageBalanceResponse","description":"Organization usage balance"},"user_usage_balances":{"additionalProperties":{"$ref":"#/components/schemas/UsageBalanceResponse"},"type":"object","title":"User Usage Balances","description":"User usage balances"},"sa_usage_balances":{"additionalProperties":{"$ref":"#/components/schemas/UsageBalanceResponse"},"type":"object","title":"Sa Usage Balances","description":"Service account usage balances"}},"type":"object","required":["org_usage_balance","user_usage_balances","sa_usage_balances"],"title":"OrgUsageBalanceResponse","description":"Response model for get_org_usage_balance endpoint."},"PricingMetric":{"type":"string","enum":["input_tokens","output_tokens","megapixels","output_seconds","api_call"],"title":"PricingMetric"},"PricingModel":{"properties":{"metric":{"$ref":"#/components/schemas/PricingMetric","description":"The pricing metric used for billing. Defines what is being charged for.","examples":["input_tokens"]},"rate":{"type":"number","minimum":0.0,"title":"Rate","description":"The cost per unit of the metric in USD.","examples":[0.0005]}},"type":"object","required":["metric","rate"],"title":"PricingModel","description":"Pricing information for a specific metric."},"ResetPeriod":{"type":"string","enum":["monthly","daily","never"],"title":"ResetPeriod","description":"Reset period for usage quotas."},"ResourceAuthor":{"type":"string","enum":["openai","google","anthropic","meta","qwen","moonshot","mistral","black_forest_labs","x_ai","stability"],"title":"ResourceAuthor"},"ResourceState":{"type":"string","enum":["pending","active","inactive","deleted"],"title":"ResourceState"},"ResourceType":{"type":"string","enum":["text_to_text","text_to_image"],"title":"ResourceType"},"ResourceVisibility":{"type":"string","enum":["private","public"],"title":"ResourceVisibility"},"ResponseCodeExecutionToolResultBlock":{"properties":{"type":{"type":"string","const":"code_execution_tool_result","title":"Type","default":"code_execution_tool_result"},"tool_use_id":{"type":"string","pattern":"^srvtoolu_[a-zA-Z0-9_]+$","title":"Tool Use Id","description":"Tool use ID"},"content":{"additionalProperties":true,"type":"object","title":"Content","description":"Code execution result"}},"type":"object","required":["tool_use_id","content"],"title":"ResponseCodeExecutionToolResultBlock"},"ResponseContainerUploadBlock":{"properties":{"type":{"type":"string","const":"container_upload","title":"Type","default":"container_upload"},"file_id":{"type":"string","title":"File Id","description":"Uploaded file ID"}},"type":"object","required":["file_id"],"title":"ResponseContainerUploadBlock"},"ResponseFormat":{"properties":{"type":{"type":"string","enum":["text","json_object","json_schema"],"title":"Type","description":"Must be one of `text`, `json_object` or `json_schema`.","default":"text"},"json_schema":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Json Schema","description":"JSON schema according to https://json-schema.org/specification that can be provided if `'type': 'json_schema'`."}},"type":"object","title":"ResponseFormat"},"ResponseMCPToolResultBlock":{"properties":{"type":{"type":"string","const":"mcp_tool_result","title":"Type","default":"mcp_tool_result"},"tool_use_id":{"type":"string","pattern":"^[a-zA-Z0-9_-]+$","title":"Tool Use Id","description":"Tool use ID"},"content":{"anyOf":[{"type":"string"},{"items":{"$ref":"#/components/schemas/ResponseTextBlock"},"type":"array"}],"title":"Content","description":"MCP tool result content"},"is_error":{"type":"boolean","title":"Is Error","description":"Whether this is an error result","default":false}},"type":"object","required":["tool_use_id","content"],"title":"ResponseMCPToolResultBlock"},"ResponseMCPToolUseBlock":{"properties":{"type":{"type":"string","const":"mcp_tool_use","title":"Type","default":"mcp_tool_use"},"id":{"type":"string","pattern":"^[a-zA-Z0-9_-]+$","title":"Id","description":"MCP tool use ID"},"name":{"type":"string","title":"Name","description":"MCP tool name"},"server_name":{"type":"string","title":"Server Name","description":"MCP server name"},"input":{"additionalProperties":true,"type":"object","title":"Input","description":"MCP tool input"}},"type":"object","required":["id","name","server_name","input"],"title":"ResponseMCPToolUseBlock"},"ResponseRedactedThinkingBlock":{"properties":{"type":{"type":"string","const":"redacted_thinking","title":"Type","default":"redacted_thinking"},"data":{"type":"string","title":"Data","description":"Redacted thinking data"}},"type":"object","required":["data"],"title":"ResponseRedactedThinkingBlock"},"ResponseServerToolUseBlock":{"properties":{"type":{"type":"string","const":"server_tool_use","title":"Type","default":"server_tool_use"},"id":{"type":"string","pattern":"^srvtoolu_[a-zA-Z0-9_]+$","title":"Id","description":"Server tool use ID"},"name":{"type":"string","enum":["web_search","code_execution"],"title":"Name","description":"Server tool name"},"input":{"additionalProperties":true,"type":"object","title":"Input","description":"Server tool input"}},"type":"object","required":["id","name","input"],"title":"ResponseServerToolUseBlock"},"ResponseTextBlock":{"properties":{"type":{"type":"string","const":"text","title":"Type","default":"text"},"text":{"type":"string","maxLength":5000000,"minLength":0,"title":"Text","description":"Text content"},"citations":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Citations","description":"Citations"}},"type":"object","required":["text"],"title":"ResponseTextBlock"},"ResponseThinkingBlock":{"properties":{"type":{"type":"string","const":"thinking","title":"Type","default":"thinking"},"thinking":{"type":"string","title":"Thinking","description":"Thinking content"},"signature":{"type":"string","title":"Signature","description":"Thinking signature"}},"type":"object","required":["thinking","signature"],"title":"ResponseThinkingBlock"},"ResponseToolUseBlock":{"properties":{"type":{"type":"string","const":"tool_use","title":"Type","default":"tool_use"},"id":{"type":"string","pattern":"^[a-zA-Z0-9_-]+$","title":"Id","description":"Tool use ID"},"name":{"type":"string","minLength":1,"title":"Name","description":"Tool name"},"input":{"additionalProperties":true,"type":"object","title":"Input","description":"Tool input"}},"type":"object","required":["id","name","input"],"title":"ResponseToolUseBlock"},"ResponseWebSearchToolResultBlock":{"properties":{"type":{"type":"string","const":"web_search_tool_result","title":"Type","default":"web_search_tool_result"},"tool_use_id":{"type":"string","pattern":"^srvtoolu_[a-zA-Z0-9_]+$","title":"Tool Use Id","description":"Tool use ID"},"content":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"additionalProperties":true,"type":"object"}],"title":"Content","description":"Web search results"}},"type":"object","required":["tool_use_id","content"],"title":"ResponseWebSearchToolResultBlock"},"TextToImageModelResponseModel":{"properties":{"id":{"type":"string","title":"Id","description":"The model identifier, which can be referenced in the API endpoints.","examples":["meta/llama-4-scout"]},"author":{"$ref":"#/components/schemas/ResourceAuthor","description":"Information about the author or creator of the model.","examples":["meta"]},"slug":{"type":"string","title":"Slug","description":"A URL-friendly identifier for the model.","examples":["llama-4-scout"]},"name":{"type":"string","title":"Name","description":"The display name of the model.","examples":["Llama 4 Scout"]},"description":{"type":"string","title":"Description","description":"A detailed description of the model's capabilities and use cases.","examples":["Meta's latest large language model optimized for reasoning and code generation"]},"created":{"type":"integer","title":"Created","description":"The Unix timestamp (in seconds) when the model was created.","examples":[1677652288]},"owned_by":{"type":"string","title":"Owned By","description":"The organization that owns the model.","examples":["compilelabs"]},"status":{"$ref":"#/components/schemas/ResourceState","description":"The current status of the model (active, inactive, pending, or deleted).","examples":["active"]},"visibility":{"$ref":"#/components/schemas/ResourceVisibility","description":"Whether the model is publicly visible or private.","examples":["public"]},"type":{"$ref":"#/components/schemas/ResourceType","description":"The type of model (text-to-text or text-to-image).","examples":["text_to_text"]},"pricing":{"items":{"$ref":"#/components/schemas/PricingModel"},"type":"array","title":"Pricing","description":"The pricing information for different usage metrics.","examples":[[{"metric":"input_tokens","rate":0.005},{"metric":"output_tokens","rate":0.015}]]},"output_size":{"type":"string","title":"Output Size","description":"The supported output image sizes for this model.","examples":["1024x1024,1024x1536,1536x1024"]}},"type":"object","required":["id","author","slug","name","description","created","owned_by","status","visibility","type","pricing","output_size"],"title":"TextToImageModelResponseModel","description":"Describes a text-to-image model offering that can be used with the API."},"TextToTextModelResponseModel":{"properties":{"id":{"type":"string","title":"Id","description":"The model identifier, which can be referenced in the API endpoints.","examples":["meta/llama-4-scout"]},"author":{"$ref":"#/components/schemas/ResourceAuthor","description":"Information about the author or creator of the model.","examples":["meta"]},"slug":{"type":"string","title":"Slug","description":"A URL-friendly identifier for the model.","examples":["llama-4-scout"]},"name":{"type":"string","title":"Name","description":"The display name of the model.","examples":["Llama 4 Scout"]},"description":{"type":"string","title":"Description","description":"A detailed description of the model's capabilities and use cases.","examples":["Meta's latest large language model optimized for reasoning and code generation"]},"created":{"type":"integer","title":"Created","description":"The Unix timestamp (in seconds) when the model was created.","examples":[1677652288]},"owned_by":{"type":"string","title":"Owned By","description":"The organization that owns the model.","examples":["compilelabs"]},"status":{"$ref":"#/components/schemas/ResourceState","description":"The current status of the model (active, inactive, pending, or deleted).","examples":["active"]},"visibility":{"$ref":"#/components/schemas/ResourceVisibility","description":"Whether the model is publicly visible or private.","examples":["public"]},"type":{"$ref":"#/components/schemas/ResourceType","description":"The type of model (text-to-text or text-to-image).","examples":["text_to_text"]},"pricing":{"items":{"$ref":"#/components/schemas/PricingModel"},"type":"array","title":"Pricing","description":"The pricing information for different usage metrics.","examples":[[{"metric":"input_tokens","rate":0.005},{"metric":"output_tokens","rate":0.015}]]},"context_length":{"type":"integer","minimum":1.0,"title":"Context Length","description":"The maximum number of tokens that can be processed in a single request (input + output).","examples":[128000]}},"type":"object","required":["id","author","slug","name","description","created","owned_by","status","visibility","type","pricing","context_length"],"title":"TextToTextModelResponseModel","description":"Describes a text-to-text model offering that can be used with the API."},"ThinkingConfigDisabled":{"properties":{"type":{"type":"string","const":"disabled","title":"Type","default":"disabled"}},"type":"object","title":"ThinkingConfigDisabled"},"ThinkingConfigEnabled":{"properties":{"type":{"type":"string","const":"enabled","title":"Type","default":"enabled"},"budget_tokens":{"type":"integer","minimum":1024.0,"title":"Budget Tokens","description":"Budget tokens for thinking"}},"type":"object","required":["budget_tokens"],"title":"ThinkingConfigEnabled"},"Tool":{"properties":{"name":{"type":"string","maxLength":128,"minLength":1,"pattern":"^[a-zA-Z0-9_-]{1,128}$","title":"Name","description":"Name of the tool. This is how the tool will be called by the model and in tool_use blocks. Required string length: 1 - 128","examples":["get_weather"]},"description":{"anyOf":[{"type":"string","maxLength":1024},{"type":"null"}],"title":"Description","description":"Description of what this tool does. Tool descriptions should be as detailed as possible. The more information that the model has about what the tool is and how to use it, the better it will perform. You can use natural language descriptions to reinforce important aspects of the tool input JSON schema.","examples":["Get the current weather in a given location"]},"input_schema":{"$ref":"#/components/schemas/InputSchema","description":"Tool input schema"},"type":{"anyOf":[{"type":"string","const":"custom"},{"type":"null"}],"title":"Type","description":"Tool type"}},"type":"object","required":["name","input_schema"],"title":"Tool"},"ToolChoiceAny":{"properties":{"type":{"type":"string","const":"any","title":"Type","default":"any"},"disable_parallel_tool_use":{"type":"boolean","title":"Disable Parallel Tool Use","description":"Disable parallel tool use","default":false}},"type":"object","title":"ToolChoiceAny"},"ToolChoiceAuto":{"properties":{"type":{"type":"string","const":"auto","title":"Type","default":"auto"},"disable_parallel_tool_use":{"type":"boolean","title":"Disable Parallel Tool Use","description":"Disable parallel tool use","default":false}},"type":"object","title":"ToolChoiceAuto"},"ToolChoiceFunction":{"properties":{"type":{"type":"string","const":"function","title":"Type","default":"function"},"function":{"additionalProperties":{"type":"string"},"type":"object","title":"Function","description":"The function to call","examples":[{"name":"my_function"}]}},"type":"object","required":["function"],"title":"ToolChoiceFunction","description":"Specific tool choice - forces the model to call a particular function."},"ToolChoiceNone":{"properties":{"type":{"type":"string","const":"none","title":"Type","default":"none"}},"type":"object","title":"ToolChoiceNone"},"ToolChoiceTool":{"properties":{"type":{"type":"string","const":"tool","title":"Type","default":"tool"},"name":{"type":"string","title":"Name","description":"Tool name to use"},"disable_parallel_tool_use":{"type":"boolean","title":"Disable Parallel Tool Use","description":"Disable parallel tool use","default":false}},"type":"object","required":["name"],"title":"ToolChoiceTool"},"Usage":{"properties":{"input_tokens":{"type":"integer","title":"Input Tokens"},"input_tokens_details":{"$ref":"#/components/schemas/UsageInputTokensDetails"},"output_tokens":{"type":"integer","title":"Output Tokens"},"total_tokens":{"type":"integer","title":"Total Tokens"}},"additionalProperties":true,"type":"object","required":["input_tokens","input_tokens_details","output_tokens","total_tokens"],"title":"Usage"},"UsageBalanceResponse":{"properties":{"name":{"type":"string","title":"Name","description":"Entity name"},"email":{"type":"string","title":"Email","description":"Entity email"},"membership_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Membership Id","description":"Organization membership ID"},"credit_limit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Credit Limit","description":"Credit limit in dollars"},"credit_count":{"type":"number","title":"Credit Count","description":"Credit count in dollars"},"reset_period":{"anyOf":[{"$ref":"#/components/schemas/ResetPeriod"},{"type":"null"}],"description":"Reset period for quota"},"next_credit_reset_unix":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Next Credit Reset Unix","description":"Next credit reset unix"},"previous_credit_reset_unix":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Previous Credit Reset Unix","description":"Previous credit reset unix"},"api_key_usage_balances":{"items":{"$ref":"#/components/schemas/ApiKeyUsageBalanceResponse"},"type":"array","title":"Api Key Usage Balances","description":"API key usage balances"}},"type":"object","required":["name","email","credit_count","api_key_usage_balances"],"title":"UsageBalanceResponse","description":"Response model for get_usage_balance endpoint."},"UsageInfo":{"properties":{"prompt_tokens":{"type":"integer","title":"Prompt Tokens","description":"The number of tokens in the prompt."},"completion_tokens":{"type":"integer","title":"Completion Tokens","description":"The number of tokens in the generated completion."},"total_tokens":{"type":"integer","title":"Total Tokens","description":"The total number of tokens used in the request (prompt + completion)."}},"type":"object","required":["prompt_tokens","completion_tokens","total_tokens"],"title":"UsageInfo"},"UsageInputTokensDetails":{"properties":{"image_tokens":{"type":"integer","title":"Image Tokens"},"text_tokens":{"type":"integer","title":"Text Tokens"}},"additionalProperties":true,"type":"object","required":["image_tokens","text_tokens"],"title":"UsageInputTokensDetails"},"UserResponseModel":{"properties":{"user_id":{"type":"string","title":"User Id"},"email":{"type":"string","title":"Email"},"created_at_unix":{"type":"integer","title":"Created At Unix"},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone Number"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name"},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name"},"organization_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Organization Id"},"membership_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Membership Id"}},"type":"object","required":["user_id","email","created_at_unix"],"title":"UserResponseModel"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}},"tags":[{"name":"models","description":"List available models and their settings."},{"name":"llm","description":"Large Language Model API endpoints. Send chat completions, generate text, and interact with various AI models using OpenAI and Anthropic compatible SDKs."},{"name":"images","description":"AI image generation API. Create images using Flux, Stable Diffusion and other image generation models with customizable parameters."},{"name":"usage","description":"Monitor API usage, costs, token consumption, and generate reports for users and organizations."},{"name":"user","description":"Get user information."}]}